<!DOCTYPE html>

{% block content %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/okioma.png' %}" >
    <title>Thank You!!</title>
</head>
<body>
    <center>
        <div class="thank-you">
            <h1>THANK YOU FOR RESPONDING</h1>
            <H2>YOUR MESSAGE WAS SENT SUCCESSFULLY!!</H2>
        </div>
    </center>
    
</body>
</html>

{% endblock  %}